[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moment = "==0.9"
numpy = "*"
tensorflow = "*"
pillow = "*"
sklearn = "*"
matplotlib = "*"

[dev-packages]
vulture = "==1.4"
mock = "==4.0.2"
pytest = "==5.4.1"
pytest-cov = "==2.8.1"

[requires]
python_version = "3.7.7"
